Package: enigma2-plugin-extensions-radiogit
Version: 1.2
Architecture: all
Maintainer: lululla
OE: 2.0 - 2.2 - 2.5 -2.6
Description: RadioGit Bouquet by Lululla
Section: base
License: GplV2
Priority: optional
Homepage: linuxsat-support forum
Source: enigma2-plugin-extensions-radiogit
